@inherits LayoutComponentBase

<div class="auth-wrapper">
    <div class="auth-brand">
        <div class="auth-brand-logo">
            <div class="auth-brand-logo-icon">
                <i class="bi bi-bar-chart-fill"></i>
            </div>
            Brodihy
        </div>
    </div>

    <div class="auth-form-wrapper">
        @Body
    </div>
</div>
